<h1 style="margin: 20px 0px 0px 40px;">Products</h1>

<mat-card style="margin: 20px 40px 40px 40px;">
    <mat-card-title>
        <button mat-raised-button color="primary" (click)="newProduct()">
            <mat-icon mat-list-icon>add</mat-icon>New Product
        </button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="dashboard-card-content">
        <mat-form-field appearance="standard">
            <mat-label>Find</mat-label>
            <input matInput (keyup)="addFilterTable($event)" #input>
        </mat-form-field>

        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataListOfProduct">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                    <td mat-cell *matCellDef="let element">{{element.categoryDescription}}</td>
                </ng-container>

                <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef>Stock</th>
                    <td mat-cell *matCellDef="let element">{{element.stock}}</td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let element">{{element.price}}</td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let element">{{element.isActive==1?'Active':'No active'}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef style="width: 80px;"></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="updateProduct(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteProduct(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsTable"></tr>
                <tr mat-row *matRowDef="let row;columns:columnsTable;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matches the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
